/* 
    Created on : Nov 26, 2017, 6:50:48 AM
    Author     : nmhillusion
*/
.button{
    -fx-cursor: hand;
}
.button:hover{
    /*-fx-border-color: #999;*/
    -fx-effect: dropshadow(gaussian, #666, 3, 0, 1,1);
}

.button#btnClean{
    -fx-padding: 5px;
    -fx-background-color: #f66;
    -fx-text-fill: #eff;
}
.button#btnClean:hover{
    -fx-background-color: #f33;
}
.button#btnChooseFile{
    -fx-padding: 8px;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-background-color: #15755b;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(gaussian, #777, 6, 0,0,0)
}
.button#btnChooseFile:hover{
    -fx-background-color: #367;
}